# Laravel / Backend
/backend/vendor/
/backend/node_modules/
/backend/public/build/
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/bootstrap/cache/
/backend/.env
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/Homestead.yaml
/backend/Homestead.json
/backend/npm-debug.log
/backend/yarn-error.log
/backend/coverage

# Next.js / Frontend
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.DS_Store